#qr_form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 5px;
    max-width: 300px;
}

.qr-code {
    width: 200px;   /* Set the width of the QR code */
    height: 200px;  /* Set the height of the QR code */
    margin: 20px;   /* Add some margin around the QR code */
    border: 2px solid black; /* Optionally add a border */
    border-radius: 10px; /* Optional: round the corners */
}